[submodule "zygisk/src/main/cpp/external/lsplant"]
	path = zygisk/src/main/cpp/external/lsplant
	url = https://github.com/JingMatrix/LSPlant.git
[submodule "zygisk/src/main/cpp/external/dobby"]
	path = zygisk/src/main/cpp/external/dobby
	url = https://github.com/JingMatrix/Dobby.git
